<?xml version="1.0"?>
<config>
    <sections>
        <ordernumber translate="label" module="ordernumber">
            <label>Customize Order and Invoice Numbers</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ordernumbers translate="label">
                    <label>Order Numbers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Customize order numbers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <format translate="label tooltip comment">
                            <label>Format of the order numbers</label>
                            <frontend_type>text</frontend_type>
                            <tooltip>ORDERNUMBER_FORMAT_TOOLTIP</tooltip>
                            <comment>ORDERNUMBER_FORMAT_COMMENT</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </format>
                        <scope translate="label tooltip comment">
                            <label>Scope of the counter</label>
                            <tooltip>ORDERNUMBER_SCOPE_TOOLTIP</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_scope</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </scope>
                        <reset translate="label tooltip comment">
                            <label>Counter "Reset"</label>
                            <tooltip></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_reset</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </reset>
                        <counterresetformat translate="label tooltip comment">
                            <label>Format for counter names</label>
                            <comment>ORDERNUMBER_RESETFORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active><reset>-1</reset></depends>
                        </counterresetformat>
                        <digits translate="label tooltip comment">
                            <label>Number of digits for the counter</label>
                            <tooltip>ORDERNUMBER_DIGITS_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </digits>
                        <increment translate="label tooltip comment">
                            <label>Counter increment</label>
                            <tooltip>ORDERNUMBER_INCREMENT_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </increment>
                    </fields>
                </ordernumbers>

                <invoicenumbers translate="label tooltip comment">
                    <label>Invoice Numbers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label tooltip comment">
                            <label>Customize invoice numbers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <format translate="label tooltip comment">
                            <label>Format of the invoice numbers</label>
                            <tooltip>ORDERNUMBER_FORMAT_TOOLTIP</tooltip>
                            <comment>ORDERNUMBER_FORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </format>
                        <scope translate="label tooltip comment">
                            <label>Scope of the counter</label>
                            <tooltip>ORDERNUMBER_SCOPE_TOOLTIP</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_scope</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </scope>
                        <reset translate="label tooltip comment">
                            <label>Counter "Reset"</label>
                            <tooltip></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_reset</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </reset>
                        <counterresetformat translate="label tooltip comment">
                            <label>Format for counter names</label>
                            <comment>ORDERNUMBER_RESETFORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active><reset>-1</reset></depends>
                        </counterresetformat>
                        <digits translate="label tooltip comment">
                            <label>Number of digits for the counter</label>
                            <tooltip>ORDERNUMBER_DIGITS_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </digits>
                        <increment translate="label tooltip comment">
                            <label>Counter increment</label>
                            <tooltip>ORDERNUMBER_INCREMENT_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </increment>
                    </fields>
                </invoicenumbers>

                <shipmentnumbers translate="label tooltip comment">
                    <label>Shipment Numbers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label tooltip comment">
                            <label>Customize shipment numbers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <format translate="label tooltip comment">
                            <label>Format of the shipment numbers</label>
                            <tooltip>ORDERNUMBER_FORMAT_TOOLTIP</tooltip>
                            <comment>ORDERNUMBER_FORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </format>
                        <scope translate="label tooltip comment">
                            <label>Scope of the counter</label>
                            <tooltip>ORDERNUMBER_SCOPE_TOOLTIP</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_scope</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </scope>
                        <reset translate="label tooltip comment">
                            <label>Counter "Reset"</label>
                            <tooltip></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_reset</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </reset>
                        <counterresetformat translate="label tooltip comment">
                            <label>Format for counter names</label>
                            <comment>ORDERNUMBER_RESETFORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active><reset>-1</reset></depends>
                        </counterresetformat>
                        <digits translate="label tooltip comment">
                            <label>Number of digits for the counter</label>
                            <tooltip>ORDERNUMBER_DIGITS_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </digits>
                        <increment translate="label tooltip comment">
                            <label>Counter increment</label>
                            <tooltip>ORDERNUMBER_INCREMENT_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </increment>
                    </fields>
                </shipmentnumbers>

                <creditmemonumbers translate="label tooltip comment">
                    <label>Credit Memo Numbers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <expanded>1</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label tooltip comment">
                            <label>Customize credit memo numbers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <format translate="label tooltip comment">
                            <label>Format of the credit memo numbers</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </format>
                        <scope translate="label tooltip comment">
                            <label>Scope of the counter</label>
                            <tooltip>ORDERNUMBER_SCOPE_TOOLTIP</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_scope</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </scope>
                        <reset translate="label tooltip comment">
                            <label>Counter "Reset"</label>
                            <tooltip></tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>opentools_ordernumber/source_reset</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </reset>
                        <counterresetformat translate="label tooltip comment">
                            <label>Format for counter names</label>
                            <comment>ORDERNUMBER_RESETFORMAT_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active><reset>-1</reset></depends>
                        </counterresetformat>
                        <digits translate="label tooltip comment">
                            <label>Number of digits for the counter</label>
                            <tooltip>ORDERNUMBER_DIGITS_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </digits>
                        <increment translate="label tooltip comment">
                            <label>Counter increment</label>
                            <tooltip>ORDERNUMBER_INCREMENT_TOOLTIP</tooltip>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </increment>
                    </fields>
                </creditmemonumbers>

                <replacements translate="label tooltip comment">
                    <label>Variable Replacements</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <expanded>0</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<replacements translate="label tooltip comment">
    						<frontend_model>opentools_ordernumber/replacements</frontend_model>
    						<backend_model>adminhtml/system_config_backend_serialized</backend_model>
    						<sort_order>2</sort_order>
    						<show_in_default>1</show_in_default>
    						<show_in_website>1</show_in_website>
    						<show_in_store>1</show_in_store>
						</replacements>
                    </fields>
                </replacements>

                <counters translate="label tooltip comment">
                    <label>Current Counter Values</label>
                    <comment>ORDERNUMBER_COUNTERTABLE_WARNING</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <expanded>0</expanded>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <counters translate="label tooltip comment">
    						<frontend_model>opentools_ordernumber/counters</frontend_model>
    						<backend_model>opentools_ordernumber/backend_counters</backend_model>
    						<sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
    						<can_be_empty>1</can_be_empty>
                            </counters>
                    </fields>
                </counters>
            </groups>
        </ordernumber>
    </sections>
</config>