<?xml version="1.0"?>
<config>
    <modules>
<!-- declare module's version information -->
        <OpenTools_Ordernumber>
<!-- this version number will be used for database upgrades -->
            <version>0.1.0</version>
            <depends>
                <Mage_Sales />
            </depends>
        </OpenTools_Ordernumber>
    </modules>
 
    <global>
        <models>
            <opentools_ordernumber>
                <class>OpenTools_Ordernumber_Model</class>
                <resourceModel>ordernumber_resource</resourceModel>
            </opentools_ordernumber>
            <ordernumber_resource>
                <class>OpenTools_Ordernumber_Model_Resource</class>
                <entities>
                    <ordernumber>
                        <table>opentools_ordernumber</table>
                    </ordernumber>
                </entities>
            </ordernumber_resource>
        </models>
        <helpers>
            <ordernumber>
                <class>OpenTools_Ordernumber_Helper</class>
            </ordernumber>
        </helpers>
        <resources>
            <opentools_ordernumber_setup>
                <setup>
                    <module>OpenTools_Ordernumber</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </opentools_ordernumber_setup>
            <opentools_ordernumber_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opentools_ordernumber_write>
            <opentools_ordernumber_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opentools_ordernumber_read>
        </resources>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <opentools_ordernumber>
                        <type>singleton</type>
                        <class>OpenTools_Ordernumber_Model_Observer</class>
                        <method>sales_model_service_quote_submit_before</method>
                    </opentools_ordernumber>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_order_save_before>
                <observers>
                    <opentools_ordernumber>
                        <type>singleton</type>
                        <class>OpenTools_Ordernumber_Model_Observer</class>
                        <method>sales_order_save_before</method>
                    </opentools_ordernumber>
                </observers>
            </sales_order_save_before>
            <sales_order_invoice_save_before>
                <observers>
                    <opentools_ordernumber>
                        <type>singleton</type>
                        <class>OpenTools_Ordernumber_Model_Observer</class>
                        <method>sales_order_invoice_save_before</method>
                    </opentools_ordernumber>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_shipment_save_before>
                <observers>
                    <opentools_ordernumber>
                        <type>singleton</type>
                        <class>OpenTools_Ordernumber_Model_Observer</class>
                        <method>sales_order_shipment_save_before</method>
                    </opentools_ordernumber>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_creditmemo_save_before>
                <observers>
                    <opentools_ordernumber>
                        <type>singleton</type>
                        <class>OpenTools_Ordernumber_Model_Observer</class>
                        <method>sales_order_creditmemo_save_before</method>
                    </opentools_ordernumber>
                </observers>
            </sales_order_creditmemo_save_before>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordernumber>
                                            <title>OpenTools Ordernumber Extension</title>
                                        </ordernumber>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ordernumber>
            <settings>
                <active>0</active>
            </settings>
            <ordernumbers>
                <active>0</active>
                <format>Order-[year]-#</format>
                <digits>0</digits>
                <global>0</global>
            </ordernumbers>
            <invoicenumbers>
                <active>0</active>
                <format>Invoice-[year]-#</format>
                <digits>0</digits>
                <global>0</global>
            </invoicenumbers>
            <shipmentnumbers>
                <active>0</active>
                <format>Shipment-[year]-#</format>
                <digits>0</digits>
                <global>0</global>
            </shipmentnumbers>
            <creditmemonumbers>
                <active>0</active>
                <format>CreditMemo-[year]-#</format>
                <digits>0</digits>
                <global>0</global>
            </creditmemonumbers>
        </ordernumber>
    </default>
</config>